In [ ]:
## Activity 2 List

mix = ["Steve", 13, 3.14, [1,2,3,4,5], {"This" : "That"}, False]
print("Mix ...", mix)

mix[0] = "rodger"
print("Mix ...", mix)

mix.insert(3, "yellow")
mix.append(3)
print("Mix ...", mix)

listlength= len(mix)
print("Length of Mix ...", listlength)

newmix = ["Steve", 13, 3.14, [1,2,3,4,5]]
print ("newmix = ...", newmix)

list3 = mix + newmix
print("added lists...", list3)

simlist = [1,2,3,4,5]
simlist.sort(reverse= True)
print (simlist)

si2 = simlist.copy()
si3 = simlist + si2
print("Final list...", si3)

In [ ]:
## Activity 3 Tuple

tup1 = (30, "Ryan", 3.14, [1,2,3], "Steve")
mtup = tup1*3 

print("\nmtup[12]...]", mtup[12])

##mtup.sort()
##print ("Sorted...", mtup) ##Tupel cannot be sorted

tup2 = (mtup[0:4])
print(tup2)
tup3= ("Steve", 13, 3.14, [1,2,3,4,5])
(rodgers, lucky, pie, numbers) =tup3
print("Steve=", rodgers, "lucky=", lucky, "pie=", pie, "numbers=", numbers)

tup4=(50, )
print (tup4)

tup5= tup2 + tup3
print(tup5)

In [ ]:
## Activity 4 Sets

set1 = {1,2,3}
set1.add("apple")
set1.add("bannana")
set1.add("orange")

print(set1)

set1.add("Ford")

set2= {1,2,3,4,5}
set3= set1.union(set2)

set2.pop()

print (set2)
set1.clear()
print("This is the cleared set1...", set1)

set2.discard("1")
print(set2)

set3.remove("apple")
print(set3)

In [81]:
## Activity 5 Dicts

d1={
        "a":5, 
        "b":10, 
        "c":15, 
        "d":20, 
        "e":25
    }

d1.update(a="ryan")
d1.update({"Favorite color":"blue"})
print(d1)
## since dicts are written in a key value pair, I'm unsure how to add a list, set, or tupel

x=d1.keys()
print(x)

y=d1.values()
print(y)

d2=d1.copy()

d2.pop("a")

print(d2)

d2.clear()

print("This is set 2 cleared...", d2)

{'a': 'ryan', 'b': 10, 'c': 15, 'd': 20, 'e': 25, 'Favorite color': 'blue'}
dict_keys(['a', 'b', 'c', 'd', 'e', 'Favorite color'])
dict_values(['ryan', 10, 15, 20, 25, 'blue'])
{'b': 10, 'c': 15, 'd': 20, 'e': 25, 'Favorite color': 'blue'}
This is set 2 cleared... {}